*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    height: 50%;
    margin: 50px auto;
    background:red;
}
table,tr,th,td{
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    width: 100%;
    padding: 10px;
}
tr ,td ,th{
    font-size: 20px;
    text-align: center;
    padding: 15px;
}
#budgetOver{
    width: 44%;
    box-shadow: 4px 4px 10px black;
    border: 1px solid black;
    color: red;
}


